<div class="center-div">
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login(loginForm)">
			   <!-- <div class="alert alert-primary" role="alert">
			      <p>
			        Email: <b>Username</b>
			      </p>
			      <p>
			        Password: <b>Password</b>
			      </p>
			    </div>
			    -->
    	<div class="alert alert-danger" role="alert" *ngIf="loginForm.submitted"> Wrong credentials!</div>
    <div class="card small">
    	<div class="card-image waves-effect waves-block waves-light">
     		 <img class="activator" src="http://lorempixel.com/640/480/sports/This-is-sporty/">
     	</div>
	    <div class="card-content">
	     <span class="card-title">Login</span>
	         <p>Click to make Reveal</p>
	    </div>
	  <div class="card-reveal">
  		<span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
         <div class="input-field">
          <label for="inputUsername" class="sr-only">User Name</label>
          <input type="text" id="inputUsername" class="form-control" placeholder="User Name" name="username" required autofocus ngModel>
          
         </div>
         <div class="input-field">
          <label for="inputPassword" class="sr-only">Password</label>
    	  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required ngModel>
          
         </div>
        <button class="waves-effect waves-light btn" type="submit">Sign in</button>
        <button class="waves-effect waves-light btn" type="reset" (click)="loginForm.reset()">Clear</button>
      </div>
    </div>    
  </form>
</div>     
  